@font-face {
    font-family: Mario;
    src: url(../fonts/super_mario_256/SuperMario256.ttf);
}

@font-face {
    font-family: smb;
    src: url(../fonts/super-mario-bros-font/SuperMarioBros-ov7d.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    list-style: none;
    text-shadow: 1px 0.5px 3px #555;
    text-decoration: none;
}

/** ScrollBar */
body::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
    background-color: #ed4b00;
}

/** Background Image */
.main__bg {
    background: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 15%;
    height: 100vh;
}

/** Background Video */
#main__videoBg {
    position: fixed;
    z-index: -1;
}

/** Blue Navbar */
.navbar {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
}
.logo {
    float: left;
    margin: 0;
    padding: 0;
    height: 50px;
    content: url(../media/img/logocut.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

/** Mario Navbar */
.navbar__mario {
    position: relative;
    right: 5%;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 1;
    /*! Debuggin */
    /* background-color: #000; */
}
.gather {
    margin: 0 -2px;
}
/* Tooltip container */
.tooltip__mario {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
/* Tooltip text */
.tooltip__mario .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip__mario .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip__mario:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/** Bricks */
.brick1:hover,
.brick2:hover {
    cursor: pointer;
}
.brick1:active {
    position: relative;
    top: -1px;
    right: -1px;
}
.brick2:active {
    position: relative;
    top: -1px;
    right: -1px;
}

/*! Jumping Coin */
.jumpingCoin1 img,
.jumpingCoin2 img {
    width: 50px;
}
.jumpingCoin1 {
    display: none;
    position: fixed;
    top: 60px;
    right: calc(5% + 148px);
    width: 50px;
    height: 50px;
    animation-name: coin1;
    animation-duration: 0.5s;
    z-index: 1;
}
.jumpingCoin2 {
    position: fixed;
    top: 60px;
    right: calc(5% + 48px);
    width: 50px;
    height: 50px;
    animation-name: coin2;
    animation-duration: 0.5s;
    /* visibility: hidden; */
    z-index: 1;
}
.jumpingCoin1:active,
.jumpingCoin2:active {
    animation-name: coin;
    animation-duration: 1s;
}
@keyframes coin1 {
    0% {
        top: 60px;
        visibility: hidden;
    }
    50% {
        top: 2px;
        opacity: 1;
    }
    100% {
        top: 60px;
        visibility: hidden;
    }
}
@keyframes coin2 {
    0% {
        top: 60px;
        background-image: url(../media/img/coin.gif);
        visibility: hidden;
    }
    50% {
        top: 2px;
        background-image: url(../media/img/coin.gif);
        width: 50px;
        height: 50px;
        opacity: 1;
    }
    100% {
        top: 60px;
        visibility: hidden;
    }
}

/*! ******/

/*************************************************** Main Content */

.jumbotron__marioSpan {
    font-family: "smb";
}

.container h3 {
    font-family: Mario;
    color: red;
    text-shadow: 1px 1px 1px #fff, 2px 2px 5px #555;
}

.gallery {
    width: 100%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    gap: 5px;
}
.gallery a {
    border-radius: 5px;
}

.cards {
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    border-radius: 10px;
}
.cards:hover {
    transform: scale(1.03);
    transition: 0.5s;
    animation: a 8s linear infinite;
}
.cards::before {
    content: "";
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: .5s;
}
.cards:hover::before {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear infinite;
}
@keyframes a {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.innerCards {
    height: 100%;
}
.innerCards:hover {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    background: rgba(22, 150, 0, 0.953);
    border-radius: 10px;
}

.games {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    border-radius: 5px;
}
.games:hover {
    transform: scale(1.03);
    transition: 0.5s;
    animation: a 8s linear infinite;
}
.games::before {
    content: "";
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: .5s;
}
.games:hover::before {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear infinite;
}
@keyframes a {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.innerGames {
    height: 96%;
    width: 98%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    border-radius: 5px;
}

.box1 {
    background-image: url(../media/img/gallery/smb.webp);
}
.box2 {
    background-image: url(../media/img/gallery/smb2.jpg);
}
.box3 {
    background-image: url(../media/img/gallery/smb3.jpg);
}
.box4 {
    background-image: url(../media/img/gallery/smb64.webp);
}
.box5 {
    background-image: url(../media/img/gallery/smbkart.jpg);
}
.box6 {
    background-image: url(../media/img/gallery/smbtennis.webp);
}
.box7 {
    background-image: url(../media/img/gallery/smbparty.jpg);
}
.box8 {
    background-image: url(../media/img/gallery/smbgalaxy.webp);
}

/*! Media Queries */
/** Full size ===================================== **/
@media (min-aspect-ratio: 16/9) {
    #main__videoBg {
        width: 100%;
        height: auto;
    }

    .main__bg {
        overflow: hidden;
    }

    /* Go off */
    #collapsibleNavbar {
        visibility: hidden;
    }

    .navbar {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/** Medium size ===================================== **/
@media (max-aspect-ratio: 16/9) {
    #main__videoBg {
        width: auto;
        height: 100%;
    }

    .main__bg {
        overflow-x: hidden;
    }

    /* Go off */
    #collapsibleNavbar {
        visibility: hidden;
    }

    .navbar {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .gallery {
        width: 100%;
        height: 100vh;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 200px);
    }

    .box1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .box2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .box3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .box4 {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .box5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .box6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .box7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .box8 {
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

/** Small size ===================================== **/

@media (max-width: 576px) {

    /* Go Off */
    #main__videoBg {
        display: none;
    }

    .navbar__mario {
        display: none;
    }

    /* Go Live */
    .main__bg {
        background: #000;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/img/bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-position-y: 15%;
        height: 100vh;
    }

    .bg__blueGradient {
        background: rgb(8, 23, 68);
        background: radial-gradient(circle, rgba(8, 23, 68, 1) 0%, rgba(8, 23, 68, 1) 6%, rgba(25, 46, 106, 1) 95%, rgba(20, 42, 103, 1) 98%);
    }

    #collapsibleNavbar {
        visibility: visible;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }

    .box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .box4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .box5 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .box6 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .box7 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .box8 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
}